.form-login {
    margin-top: 10vh;
}

/* .form-login__header{
    text-align: center;
}
*/
.form-login__title{
    text-align: center;
    font-size: 1.5rem;
} 

.form-login__icon{
    font-size: 5rem;
}